[Unit]
Description=SITENAME gunicorn daemon
Requires=SITENAME.socket
After=network.target

[Service]
PIDFile=/run/SITENAME/pid
User=root
Group=root
WorkingDirectory=/home/pablo/public_html/SITENAME/source
ExecStart=/home/pablo/public_html/SITENAME/virtualenv/bin/gunicorn --pid /run/SITENAME/pid superlists.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target